.BannerImage {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.ProfileImage {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
}

.DatePosted {
    color: #6c757d;
}

.BlogImage {
    max-width: 70%;
    height: auto;
    max-height: 20rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.Icon {
    font-size: 1.5rem;
    color: #6c757d;
    cursor: pointer;
    margin-left: 1.5rem;
}

.Icon:hover {
    color: #2992a5;
}

.DisabledIcon {
    cursor: not-allowed;
    opacity: 0.5;
}

.Liked {
    color: #5ac8fa;
}

.IconCounter {
    font-size: 1.2rem;
    margin-left: 5px;
}


@media (max-width: 768) {
    .BlogImage {
        max-width: 100%;
    }
}
  
