.BlogCard {
    width: 100%;
}

.BlogHeader {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.BlogInfo {
    flex: 1;
}

.Title {
    margin: 0;
    font-size: 1.25rem;
}

.OwnerAndDate {
    font-size: 0.875rem;
    color: #555;
}

.OwnerName {
    font-weight: bold;
}

.DatePosted {
    margin-left: 1rem;
    color: #727272;
}

.Link {
    color: #025fa6;
    text-decoration: none;
}

.Link:hover {
    color: #025fa6;
    font-weight: 600;
}

.BlogImage {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.Icon {
    font-size: 1.5rem;
    color: #6c757d;
    cursor: pointer;
    margin-left: 1.5rem;
}

.Icon:hover {
    color: #2992a5;
}

.DisabledIcon {
    cursor: not-allowed;
    opacity: 0.5;
}

.Liked {
    color: #5ac8fa;
}

.IconCounter {
    font-size: 1.2rem;
    margin-left: 5px;
}

@media (max-width: 476px) {
    .Title {
        font-size: 1rem;
    }
    .DatePosted {
        font-size: 0.8rem;
    }
  }