.Button {
    width: 6rem;
    text-align: center;
    background-color: #5ac8fa;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    color: #000;
}

.ButtonWide {
    width: 100%;
}

.ButtonLarge {
    width: 10rem;
    height: 3rem;
    font-size: 1.3rem;
}

.ButtonSmall {
    width: 5rem;
    height: 2.2rem;
}

.Button:hover {
    background-color: #2992a5;
    font-weight: 700;
    color: #000;
}

.ButtonActive {
    color: #000;
    background-color: #5ac8fa;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}