.Link {
    text-decoration: none;
    color: #000;
}

.Link:hover {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.Date {
    font-size: 0.8rem;
    color: #888;
    margin-left: 1rem;
}

.DropdownToggle {
    color: #000;
}

.DropdownToggle:hover {
    color: #a9a9a9;
    transform: scale(1.5);
}
