.BannerImage {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.DropdownToggle {
  padding: 0;
  color: #000;
}

.Content {
  background-color: #f8f9fa;
}

.DatePosted {
  font-size: 14px;
  color: #6c757d;
}

.JoinedEventCard {
  background-color: #e0ffe0;
  border: 1px solid #28a745;
}

.EventCard:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}
