.Input {
    background-color: #f0f0f0;
    margin-bottom: 1rem;
}
.Input:hover {
    background-color: #fff;
    font-weight: 600;
    border: 3px solid #5ac8fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.Input:focus {
    background-color: #fff;
    font-weight: 600;
    border: 3px solid #5ac8fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.Dropzone {
    border: 2px dashed #5ac8fa;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.Dropzone:hover {
    border: 2px solid #5ac8fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}


.Dropzone p {
    margin: 0;
    font-size: 1.2rem;
}

.Dropzone i {
    margin-top: 10px;
    color: #5ac8fa;
}

.RemoveButton {
    top: 10px;
    right: 10px;
}

.PreviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.RemoveButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

.UploadPrompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}