.BannerImage {
  width: 100%;
  height: auto;
}

.GroupLogo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
}

.Content {
  font-size: 1rem;
}

.DatePosted {
  display: block;
  font-size: 0.9rem;
  color: gray;
}

.DropdownToggle {
  padding: 0;
}

@media (max-width: 767px) {
  .DatePosted {
    margin-top: 10px;
  }

  .GroupLogo {
    width: 80px;
    height: 80px;
  }

  .DropdownToggle {
    margin-top: 10px;
  }

  .Button {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .DatePosted {
    margin-top: 10px;
  }

  .GroupLogo {
    width: 100px;
    height: 100px;
  }
}
