.GroupHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.GroupLogo {
  width: 80px;  /* Adjusted width */
  height: 80px;  /* Adjusted height */
  margin-right: 20px;
  border: 2px solid #ddd;
}

.GroupTitle {
  font-size: 2rem;
  margin-bottom: 10px;
}

.AdminActions {
  margin-left: auto;
}

.EventCard {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.SubTitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
