.TopNavBar {
    background-color: #ffffff;
}

.NavLink {
    color: #000;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.NavLink:hover {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.Active {
    font-weight: 700;
    text-decoration: none;
}

.NavButton {
    background-color: #5ac8fa;
    color: #000;
    width: 6rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 0.5rem;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.NavButton:hover {
    color: #000;
    background-color: #2992a5;
    font-weight: 600;
    text-decoration: none;
}

.NavButtonActive {
    color: #000;
    background-color: #5ac8fa;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.Divider {
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .NavLink {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
    }
    .LogoutButton {
        margin-top: 1rem;
        width: 100%;
    }
    .TopNavBar .NavLink + .Divider {
        display: block;
    }
}
