.App {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
}

.Main {
  padding-top: 81px;
}

.MainWithSidebar {
  padding-top: 81px;
  padding-left: 210px;
}

.Content {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
/* Removes sidebar spacing when screen is below 768px */
@media (max-width: 768px) {
  .MainWithSidebar {
      padding-left: 0;
  }
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #c2c2c2;
}
*::-webkit-scrollbar-thumb {
  background: #5ac8fa;
}
*::-webkit-scrollbar-thumb:hover {
  background: #2992a5;
}
